@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@1,700&display=swap");
@font-face {
  font-family: "Monument Extended";
  src: url(fonts/MonumentExtended-Regular.otf);
}

:root {
  --main-bg-color: #1e1e1e;
  --accent-color: rgb(204, 204, 204);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--main-bg-color);
  font-size: 62.5%;
}

.svg__line {
  fill: #ffffff;
  stroke: #000000;
  stroke-width: 0.75;
  stroke-miterlimit: 10;
}

.first {
  display: flex;
  position: relative;
}

.first__text {
  font-family: "Quantico", sans-serif;
  font-style: italic;
  font-size: 10rem;
  -webkit-text-stroke: 2px rgb(204, 204, 204);
  line-height: 10rem;
  color: var(--main-bg-color);
  position: absolute;
  top: 50%;
  left: 10%;
}

.first__img {
  object-fit: cover;
  height: 100vh;
  width: 100vw;
}

.second__text {
  font-family: "Monument Extended";
  font-size: 2rem;
  color: antiquewhite;
  line-height: 2em;
}

.outline__text {
  -webkit-text-stroke: 1px rgb(204, 204, 204);
  color: var(--main-bg-color);
}

.second {
  display: flex;
  justify-content: space-around;
  margin: 5%;
}

.second__two {
  min-width: 20%;
}

.third__text,
.fifth__text {
  font-family: "Monument Extended";
  font-size: 2rem;
  color: antiquewhite;
  line-height: 2em;
}

.third {
  display: flex;
  justify-content: space-around;
  margin: 5%;
}

.third__one {
  min-width: 20%;
}

.fourth,
.sixth {
  display: flex;
  justify-content: center;
}

.sixth {
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.fourth__text,
.sixth__text {
  font-family: "Quantico", sans-serif;
  font-style: italic;
  font-size: 10rem;
  -webkit-text-stroke: 2px rgb(204, 204, 204);
  line-height: 10rem;
  color: var(--main-bg-color);
}

.fifth {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10em 3em;
}

.fifth__one img {
  max-width: 500px;
}

.sixth__form {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}

form {
  width: 80%;
}

.form-entry {
  position: relative;
  height: 50px;
  overflow: hidden;
}

input,
textarea {
  width: 100%;
  height: 100%;
  color: var(--accent-color);
  background-color: var(--main-bg-color);
  border: none;
  padding-top: 20px;
  outline: none;
}

label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid var(--accent-color);
  font-family: "Monument Extended";
  font-size: 1rem;
  color: var(--accent-color);
}

label::after {
  content: "";
  position: absolute;
  left: 0px;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid blue;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

input:focus + label span,
input:not(:placeholder-shown) + label span,
textarea:focus + label span,
textarea:not(:placeholder-shown) + label span {
  transform: translateY(-150%);
  font-size: 12px;
}

input:focus + label::after,
input:not(:placeholder-shown) + label::after,
textarea:focus + label::after,
textarea:not(:placeholder-shown) + label::after {
  transform: translateX(0%);
}

.form-entry span {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

button {
  margin-top: 50px;
}
