@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@1,700&display=swap");

:root {
  --main-bg-color: #1e1e1e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--main-bg-color);
  font-size: 62.5%;
}

.landing {
  display: flex;
  justify-content: space-around;
  height: 100vh;
}

.intro {
  align-self: center;
}

.distortion {
  background: red;
  width: 50%;
}

.intro h2 {
  font-family: Quantico;
  color: var(--main-bg-color);
  font-size: 10rem;
  line-height: 10rem;
  -webkit-text-stroke: 2px rgb(204, 204, 204);
}
