@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@700&family=Titillium+Web:ital,wght@0,200;0,400;0,700;1,400;1,700&display=swap");

/*
400 - regular i italic
200 - light 
700 - bold i italic
*/

:root {
  --main-bg-color: hsl(220, 23%, 8%);
  --accent-color: hsl(0, 0%, 81%);
  --secondary-color: hsl(0, 59%, 50%);
  --tertiary-color: hsl(166, 67%, 73%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Titillium Web", sans-serif;
  font-size: clamp(1.6rem, 4.2vw, 2.2rem);
  line-height: 1.6em;
  color: var(--accent-color);
  background: var(--main-bg-color);
}

img,
svg {
  display: block;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0.5em;
}

ul {
  list-style: none;
}

.copy {
  font-size: clamp(2.5rem, 3.5vw, 5rem);
  font-weight: 700;
  display: block;
  line-height: 1.5em;
}

.copy--accent-big {
  color: var(--tertiary-color);
  font-size: clamp(1.7rem, 3.2vw, 3rem);
  text-align: center;
}

.copy--accent-small {
  color: var(--tertiary-color);
  font-size: clamp(1.8rem, 2.8vw, 2.2rem);
  text-align: center;
}

.overflow--hidden {
  overflow: hidden;
}

main {
  max-width: 192rem;
  padding: 5em 0 0;
  overflow-x: hidden;
}

.st0 {
  fill: none;
}

.st1 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 3;
}

.st2 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: none;
  stroke: #fff200;
  stroke-width: 2;
}

.st3 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: none;
  stroke: #ffffff;
}

.st4 {
  fill: none;
  stroke: #ffffff;
}

.st5 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
}

.st6 {
  fill: #ffffff;
}

.svg-line__black {
  fill: #000000;
}

.svg-line__black--hidden {
  opacity: 0;
}

.svg-line__white {
  fill: #ffffff;
}

.svg-line__tertiary {
  fill: var(--tertiary-color);
}

.svg-line__tertiary--stroke {
  fill: none;
  stroke: var(--tertiary-color);
  stroke-width: 3;
}

.fade {
  opacity: 0;
}

.fade-in {
  opacity: 1;
  pointer-events: auto;
  transition: all 1s linear;
}

.fade-out {
  opacity: 0;
  pointer-events: none;
  transition: all 1s linear;
}

.loader {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
}

.slim {
  padding: 0;
}

a {
  color: var(--accent-color);
  text-decoration: none;
  outline: 0;
  transition: color 0.3s ease;
  position: relative;
}

a::after {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  width: 0;
  background: var(--secondary-color);
  left: 0;
  bottom: 0;
  transition: all 0.3s ease;
}

a:hover::after {
  width: 100%;
}

.logo a:hover::after {
  width: 0;
}

button {
  font-size: clamp(1.2rem, 3.7vw, 2rem);
  font-family: inherit;
  cursor: pointer;
  margin-top: 5rem;
  padding: 1rem 4rem;
  color: var(--accent-color);
  background: var(--secondary-color);
  border: none;
  border-radius: 4rem;
  box-shadow: 24px 22px 55px -16px rgba(0, 0, 0, 0.6);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-size: 0.5em;
  height: 7vmax;
  width: 100%;
  position: fixed;
  z-index: 1;
  padding: 0 5%;
  background: var(--main-bg-color);
}

footer {
  margin: 2em 0;
  padding-bottom: 3em;
}

.wrap-404 {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 1fr auto;
}

.wrap-404--bg-color {
  background: var(--main-bg-color);
}

.section-404 {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.logo {
  max-width: 11em;
}

.nav-container {
  position: absolute;
  inset: 0;
  height: 100vh;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: var(--accent-color);
  transform: translateX(-100%);
}

.nav-open,
.nav-close {
  cursor: pointer;
}

.nav-container,
.nav-container a {
  color: var(--main-bg-color);
}

.skill {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  margin-top: 3em;
}

.skill--spacy {
  margin-top: 8em;
}

.skill__item {
  flex: 1 1 35rem;
}

.skill__item--wide {
  flex: 2 1 35rem;
  margin: 3em;
}

.skill__copy-group {
  display: flex;
  gap: 3em;
  margin-top: 5em;
}

.skill__copy-item {
  flex: 1 1 50%;
}

.skill__overflow {
  display: flex;
  transform: translateX(22%);
  overflow-y: hidden;
}

.skill__figure {
  transition: all 0.5s ease-in-out;
}

.skill__img {
  height: 70vmin;
  object-fit: cover;
  object-position: left;
}

.skill__img--filter {
  filter: brightness(70%) sepia(70%);
  transition: all 0.3s ease-in;
}

.skill__img--filter:hover {
  filter: brightness(80%) sepia(40%);
}

@media (max-width: 600px) {
  .skill__copy-group {
    flex-wrap: wrap;
  }
}

.title__text {
  font-size: clamp(2rem, 7vw, 8rem);
  font-family: "Goldman", cursive;
  font-weight: 700;
  line-height: 1.2em;
}

.title__text--subhead {
  font-size: clamp(3rem, 10vw, 10rem);
  color: transparent;
  text-align: center;
  margin: 0 5% 8vmax;
  -webkit-text-stroke: 1px var(--accent-color);
}

.title__text--marquee {
  display: inline-block;
  font-size: clamp(3rem, 10vw, 10rem);
  color: transparent;
  -webkit-text-stroke: 1px var(--accent-color);
  width: max-content;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  100% {
    transform: translateX(-100%);
  }
}

.title__text--big {
  font-size: clamp(4rem, 10vw, 13rem);
}

.title__text--accent {
  color: var(--secondary-color);
}

.title__text--right {
  text-align: right;
}

.hard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
  margin: 10em 5.5em;
}

.hard__item {
  flex: 1 1 35rem;
}

.accent__text {
  font-size: clamp(2.5rem, 6.5vw, 11rem);
  font-weight: 700;
  display: block;
  line-height: 1em;
}

.link__text {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-size: 1.4rem;
  margin: 2.5em 0;
}

.link__text::after {
  content: ">";
  color: var(--secondary-color);
}

/* dupliciranje link teksta s heder konfama */

.glitch img {
  height: clamp(25rem, 65vh, 70rem);
  width: 100%;
  object-fit: cover;
}

/* .text__glitch {
  color: var(--main-bg-color);
  font-size: clamp(2.5rem, 6.5vw, 9rem);
  font-weight: 700;
  display: block;
  line-height: 1em;
} */

.scarry {
  /* display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  align-items: center;
  margin: 5% 5% 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8em 5.5em 0;
}

.scarry > * {
  margin-bottom: 1.7em;
}

.scarry p {
  font-size: clamp(1.2rem, 4vw, 2.2rem);
}

.glitch {
  position: relative;
}

.glitch h1 {
  position: absolute;
  top: 1em;
  right: 1em;
  color: var(--main-bg-color);
}

.legacy {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 2em;
  column-gap: 1em;
  margin: 3em 3em 10em 3em;
}

.legacy__one {
  grid-column: 3 / span 6;
  font-size: clamp(2.7rem, 4vw, 4rem);
  line-height: 1.4em;
}

.legacy__two {
  grid-column: 10 / span 4;
  grid-row: 2;
  align-self: center;
}

@media (max-width: 900px) {
  .legacy {
    display: inline-block;
    margin: 0 5.5em 2em;
  }
  .legacy__one {
    margin-bottom: 2em;
  }
}

.logotip__ksd {
  transform: scale(2);
  opacity: 0;
}

.section-spacing {
  margin: 12em 2em;
}

.section-spacing--last {
  margin-bottom: 0em;
}

.translation__group {
  text-align: center;
}

.skill-features__title {
  width: 60%;
}

@media (max-width: 768px) {
  .skill-features__title {
    width: auto;
  }
}

.skill-features__list {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 4em;
  column-gap: 1em;
  margin: clamp(3em, 6vw, 5em) auto;
}

.skill-features__item {
  position: relative;
}

.skill-features__item::after {
  content: "";
  position: absolute;
  background-color: var(--main-bg-color);
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform-origin: 100% 0;
}

.skill-features__item-1 {
  grid-column: 2 / span 4;
}

.skill-features__item-2 {
  grid-column: 8 / span 4;
}

.skill-features__item-3 {
  grid-column: 4 / span 4;
  grid-row: 2;
}

.skill-features__item-4 {
  grid-column: 10 / span 4;
  grid-row: 2;
}

.skill-features__item-5 {
  grid-column: 7 / span 4;
  grid-row: 3;
}

.explainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
}

.explainer__group-1 {
  flex: 2 1 40rem;
}

.explainer__group-2 {
  flex: 1 1 50%;
}

.technique__group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 5em;
  max-width: 140rem;
  margin: 0 auto;
}

.technique__group--small {
  max-width: 110rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

@media (max-width: 330px) {
  .technique__group {
    grid-template-columns: 1fr;
  }
}

.technique__card {
  display: grid;
  min-height: 38rem;
  border-radius: 10%;
  box-shadow: 15px 15px 19px #08090c, -15px -15px 19px #171b24;
  padding: 2em;
}

.technique__description {
  font-size: 1.8rem;
  line-height: 1.5;
}

/* forma poÄetak */

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  position: relative;
}

.info > div:first-child {
  background: var(--tertiary-color);
  color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 3em;
  padding-right: 1em;
}

.info > div:nth-child(2) {
  background-color: var(--main-bg-color);
}

.info > div {
  flex: 1 1 50rem;
  padding: 4em 0;
  gap: 2em;
}

.footer-accent__text {
  font-size: clamp(2.5rem, 6.5vw, 11rem);
  font-weight: 700;
  display: block;
  line-height: 1em;
  text-transform: uppercase;
}

.footer-accent__text p:nth-child(3) {
  transform: translateX(1em);
}

.footer-location {
  display: flex;
  align-items: center;
}

.circle {
  flex: 0 0 auto;
  background: black;
  border-radius: 50%;
  width: 6em;
  height: 6em;
}

.circle--rotate {
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.circle + div {
  margin: 2em;
}

.form {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  line-height: 0.7em;
}

form {
  width: 80%;
}

.form-entry {
  position: relative;
  height: 5rem;
  overflow: hidden;
}

input,
textarea {
  width: 100%;
  height: 100%;
  font-family: inherit;
  color: var(--accent-color);
  background-color: transparent;
  border: none;
  padding-top: 20px;
  outline: none;
}

label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  font-size: 0.7em;
  font-weight: 200;
  pointer-events: none;
  border-bottom: 1px solid var(--accent-color);
  color: var(--accent-color);
}

label::after {
  content: "";
  position: absolute;
  left: 0px;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid var(--secondary-color);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

input:focus + label span,
input:not(:placeholder-shown) + label span,
textarea:focus + label span,
textarea:not(:placeholder-shown) + label span {
  transform: translateY(-150%);
  font-size: 12px;
}

input:focus + label::after,
input:not(:placeholder-shown) + label::after,
textarea:focus + label::after,
textarea:not(:placeholder-shown) + label::after {
  transform: translateX(0%);
}

.form-entry span {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.confirmation {
  background: var(--secondary-color);
  padding: 2em;
  position: absolute;
  right: 20px;
  bottom: 0;
  transform: translateY(100%);
  transition: all 1s ease;
  opacity: 0;
}

.show {
  transform: translateY(0%);
  opacity: 1;
}

.wrap {
  margin: 8em;
  text-align: center;
}

.wrap h1 {
  margin: 0.9em auto;
}

.accordion__group {
  margin: 5em 0;
}

.accordion__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.accordion__title-item {
  flex-basis: 75%;
}

.accordion__svg {
  width: 10%;
  transition: all 0.5s ease-out;
}

.accordion__svg--rotated {
  transform: rotate(90deg);
}

.accordion__body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.approach-hero {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: end;
  perspective: 140rem;
}

@media (max-width: 790px) {
  .approach-hero {
    display: block;
  }
}

.approach-hero__img {
  grid-row: 1 / 2;
  grid-column: 1 / 5;
  position: relative;
  padding-top: 1px; /* gsap and loco scroll error fix*/
}

.approach-hero__img::after {
  content: "";
  position: absolute;
  background-color: var(--main-bg-color);
  top: 0;
  width: 100%;
  height: 100%;
  transform-origin: 100% 0;
}

.approach-hero__text {
  grid-row: 1 / 2;
  grid-column: 4 / -1;
  margin: 2em 1em;
  opacity: 0;
  transform-origin: center top;
  transform-style: preserve-3d;
  transform: translateY(100%) rotateX(-80deg);
  transition: all 1s ease-out;
}

.approach-hero__text.show {
  opacity: 1;
  transform: none;
}

.approach-intro {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  min-height: 40vh;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.approach-intro.show {
  opacity: 1;
}

.approach-opportunity {
  margin: 10em 2em;
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.approach-opportunity__group {
  flex: 1 1 35rem;
}

.approach-opportunity__group--animation {
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  100% {
    opacity: 0.2;
  }
}

.approach-opportunity__group svg {
  max-width: 80%;
  margin: 0 auto;
}

.approach-technique {
  margin: 3em 2em;
}

.questions-hero {
  height: 100vh;
}

.questions-hero img {
  object-fit: cover;
  object-position: center;
}

.arrow-icon {
  max-width: 4em;
}

/* testiranje */

.title__text--story {
  position: relative;
  color: var(--main-bg-color);
  /* text-shadow: -3px -3px 0 #fff, 3px 3px 0 #fff, 3px -3px 0 #fff, -3px 3px 0 #fff; */
}

@media (min-width: 790px) {
  .title__text--story {
    -webkit-text-stroke-width: 3px;
  }
}

.title__text--story::after {
  content: "";
  position: absolute;
  background: linear-gradient(315deg, var(--secondary-color), var(--tertiary-color));
  inset: 0;
  mix-blend-mode: darken;
}
