@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@700&family=Titillium+Web:ital,wght@0,200;0,400;0,700;1,400;1,700&display=swap");

/*
400 - regular i italic
200 - light 
700 - bold i italic
*/

:root {
  --main-bg-color: #0f1218;
  --accent-color: #cecece;
  --secondary-color: #ca3434;
  --tertiary-color: #8be8d2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.hidden {
  display: none;
}

.overflow--reset {
  overflow: auto;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

body {
  overflow: hidden;
  font-family: "Titillium Web", sans-serif;
  font-size: clamp(1.6rem, 4.2vw, 2.2rem);
  line-height: 1.6em;
  color: var(--accent-color);
  background: var(--main-bg-color);
  /* background-image: var(--gradient);
  background-size: 200%; */
  height: 100%;
}

svg {
  width: 100%;
  height: 100%;
}

.st0 {
  fill: none;
}

.st1 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 3;
}

.st2 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: none;
  stroke: #fff200;
  stroke-width: 2;
}

.st3 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: none;
  stroke: #ffffff;
}

.st4 {
  fill: none;
  stroke: #ffffff;
}

.st5 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
}

.st6 {
  fill: #ffffff;
}

.svg__line--black {
  fill: #000000;
}

.svg__line--white {
  fill: #ffffff;
}

.svg__line--tertiary {
  fill: var(--tertiary-color);
}

[data-scroll-container] {
  overflow-x: hidden;
}

.fade {
  opacity: 0;
}

.fade-in {
  opacity: 1;
  pointer-events: auto;
  transition: all 1s linear;
}

.fade-out {
  opacity: 0;
  pointer-events: none;
  transition: all 1s linear;
}

.loader {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  outline: 0;
  transition: color 0.3s ease;
  position: relative;
}

a::after {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  width: 0;
  background: var(--secondary-color);
  left: 0;
  bottom: 0;
  transition: all 0.3s ease;
}

a:hover::after {
  width: 100%;
}

.logo a:hover::after {
  width: 0;
}

button {
  font-size: clamp(1.2rem, 3.7vw, 2rem);
  font-family: inherit;
  cursor: pointer;
  margin-top: 5rem;
  padding: 1rem 4rem;
  color: var(--accent-color);
  background: var(--secondary-color);
  border: none;
  border-radius: 4rem;
  box-shadow: 24px 22px 55px -16px rgba(0, 0, 0, 0.6);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-size: 0.5em;
  height: 15vh;
  padding: 0 4em 0 0;
}

.logo {
  max-width: 11em;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav li + li {
  padding-left: 5em;
}

.first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
}

.title__text {
  font-size: clamp(3rem, 7vw, 8rem);
  font-family: "Goldman", cursive;
  font-weight: 700;
  line-height: 1.2em;
}

.title__text--subhead {
  font-size: clamp(3rem, 10vw, 10rem);
  color: transparent;
  text-align: center;
  margin: 0 5%;
  -webkit-text-stroke: 1px var(--accent-color);
}

.title__text--accent {
  color: var(--secondary-color);
}

.overflow {
  display: flex;
  transform: translateX(18%);
  overflow-y: hidden;
}

.first__img {
  height: 70vmin;
  object-fit: cover;
  object-position: left;
}

.second {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10em 9em;
}

.accent__text {
  font-size: clamp(2.5rem, 6.5vw, 11rem);
  font-weight: 700;
  display: block;
  line-height: 1em;
}

.link__text {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-size: 1.4rem;
  margin: 2.5em 0;
}

.link__text::after {
  content: ">";
  color: var(--secondary-color);
}

/* dupliciranje link teksta s heder konfama */

.glitch img {
  height: clamp(25rem, 65vh, 70rem);
  width: 100%;
  object-fit: cover;
}

/* .text__glitch {
  color: var(--main-bg-color);
  font-size: clamp(2.5rem, 6.5vw, 9rem);
  font-weight: 700;
  display: block;
  line-height: 1em;
} */

.third {
  /* display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  align-items: center;
  margin: 5% 5% 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8em 4em 0;
}

.third > * {
  margin-bottom: 1.7em;
}

.third p {
  font-size: clamp(1.2rem, 4vw, 2.2rem);
}

.glitch {
  position: relative;
}

.glitch h1 {
  position: absolute;
  top: 1em;
  right: 1em;
  color: var(--main-bg-color);
}

.fifth {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 2em;
  column-gap: 1em;
  margin: 3em 3em 10em 3em;
}

.fifth__one {
  grid-column: 3 / span 6;
  font-size: 4rem;
  line-height: 1.4em;
}

.fifth__two {
  grid-column: 10 / span 3;
  grid-row: 2;
  align-self: center;
}

.logotip__ksd {
  transform: scale(2);
  opacity: 0;
}

/* forma poÄetak */

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  padding-bottom: 3em;
  position: relative;
  overflow: hidden;
}

footer > div:first-child {
  background: var(--tertiary-color);
  color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 3em;
}

footer > div {
  flex: 1 0 50rem;
  padding: 4em 0;
}

.footer-accent__text {
  font-size: clamp(2.5rem, 6.5vw, 11rem);
  font-weight: 700;
  display: block;
  line-height: 1em;
  text-transform: uppercase;
}

.footer-accent__text p:nth-child(3) {
  transform: translateX(1em);
}

.footer-location {
  display: flex;
}

.circle {
  background: black;
  border-radius: 50%;
  width: 6em;
  height: 6em;
}

.circle + div {
  margin-left: 2em;
}

.form {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  line-height: 0.7em;
}

form {
  width: 80%;
}

.form-entry {
  position: relative;
  height: 5rem;
  overflow: hidden;
}

input,
textarea {
  width: 100%;
  height: 100%;
  font-family: inherit;
  color: var(--accent-color);
  background-color: transparent;
  border: none;
  padding-top: 20px;
  outline: none;
}

label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  font-size: 0.7em;
  font-weight: 200;
  pointer-events: none;
  border-bottom: 1px solid var(--accent-color);
  color: var(--accent-color);
}

label::after {
  content: "";
  position: absolute;
  left: 0px;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid var(--secondary-color);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

input:focus + label span,
input:not(:placeholder-shown) + label span,
textarea:focus + label span,
textarea:not(:placeholder-shown) + label span {
  transform: translateY(-150%);
  font-size: 12px;
}

input:focus + label::after,
input:not(:placeholder-shown) + label::after,
textarea:focus + label::after,
textarea:not(:placeholder-shown) + label::after {
  transform: translateX(0%);
}

.form-entry span {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.confirmation {
  background: var(--secondary-color);
  padding: 2em;
  position: absolute;
  right: 20px;
  bottom: 0;
  transform: translateY(100%);
  transition: all 1s ease;
  opacity: 0;
}

.show {
  transform: translateY(0%);
  opacity: 1;
}
